In [1]:
import pandas as pd
import numpy as np
import pptk

In [2]:
from tensorflow.python.client import device_lib

device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 3678614890653334904,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 2247832372
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 17255442678809198756
 physical_device_desc: "device: 0, name: GeForce GTX 1650 Ti, pci bus id: 0000:01:00.0, compute capability: 7.5"]

In [6]:
df = pd.read_csv('Test/B_SMV_chapel_27to35.txt', sep=' ', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,141.516174,4182.317383,610.207031,110,100,67,9,-0.589756,-0.339557,-0.732727
1,141.532181,4182.319336,610.201843,114,103,75,9,-0.078436,-0.346980,-0.934587
2,141.507172,4182.312012,610.238403,100,86,48,9,-0.997738,-0.033009,-0.058565
3,141.507172,4182.312012,610.225830,105,87,50,9,-0.911376,-0.193757,-0.363115
4,141.509171,4182.312012,610.213806,110,94,61,9,-0.507945,-0.305400,-0.805433

In [7]:
points = np.array(df[[0, 1, 2]])
colors = np.array(df[[3, 4, 5]])
classes = np.array(df[6])

In [13]:
np.savetxt('Training/points/1.pts', points, fmt='%1.8f')

In [14]:
np.savetxt('Training/points_label/1.seg', classes, fmt='%1.0f')

In [15]:
names = ['2_TR_church.txt', '3_VAL_room.txt', '4_CA_church.txt', '5_SMV_chapel_1.txt', '6_SMV_chapel_2to4.txt', '7_SMV_chapel_24.txt',
        '8_SMV_chapel_28.txt', '9_SMV_chapel_10.txt', '10_SStefano_portico_1.txt', '11_SStefano_portico_2.txt', '12_KAS_pavillion_1.txt',
        '13_KAS_pavillion_2.txt', '14_TRE_square.txt', '15_OTT_church.txt']

for i in range(len(names)):
    df = pd.read_csv('Training/' + names[i], sep=' ', header=None)
    points = np.array(df[[0, 1, 2]])
    classes = np.array(df[6])
    np.savetxt('Training/points/' + str(i + 2) + '.pts', points, fmt='%1.8f')
    np.savetxt('Training/points_label/' + str(i + 2) +'.seg', classes, fmt='%1.0f')

In [16]:
names = ['A_SMG_portico.txt', 'B_SMV_chapel_27to35.txt']

for i in range(len(names)):
    df = pd.read_csv('Test/' + names[i], sep=' ', header=None)
    points = np.array(df[[0, 1, 2]])
    classes = np.array(df[6])
    np.savetxt('Training/points/' + str(i + 16) + '.pts', points, fmt='%1.8f')
    np.savetxt('Training/points_label/' + str(i + 16) +'.seg', classes, fmt='%1.0f')

In [20]:
v = pptk.viewer(points)
# v.attributes(classes)

In [8]:
v = pptk.viewer(points)
v.attributes(classes)

In [9]:
v = pptk.viewer(points)
v.attributes(colors/255)

In [6]:
points

array([[ 204.05422974, 4269.84375   ,  598.61895752],
       [ 203.9602356 , 4270.00390625,  598.74694824],
       [ 203.8682251 , 4269.67480469,  598.41497803],
       ...,
       [ 206.92002869, 4265.95507813,  601.64257813],
       [ 207.0340271 , 4266.05810547,  601.64953613],
       [ 206.64002991, 4266.14697266,  601.49053955]])